 <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                 {{Sidebar}}
                <ul class="sidebar-nav">
                    <li><a href="/catalog">Home</a></li>
                    <li><a href="/catalog/books">All Books</a></li>
                    <li><a href="/catalog/authors">All Authors</a></li>
                    <li><a href="/catalog/genres">All genres</a></li>
                    <li><a href="/catalog/bookinstances">All book-instances</a></li>
                    <li><hr></li>
                    <li><a href="/catalog/author/create">Create new author</a></li>
                    <li><a href="/catalog/genre/create">Create new genre</a></li>
                    <li><a href="/catalog/book/create">Create new book</a></li>
                    <li><a href="/catalog/bookinstance/create">Create new book instance</a></li>
                </ul>
            </div>
             <div class="col-sm-10">
                 {{#each author}}
                <h1>Author : {{this.name}}</h1>
                <p>{{this.date_of_birth}} - {{this.date_of_death}}</p>
                {{/each}}
                <div style='margin-left:20px;margin-top:20px'>
                    <h4>Books</h4>
                    <dl>
                        {{#each authorbooks}}
                            <dt>
                                <a href="{{this.links}}">{{this.title}}</a>
                                <dd>{{this.summary}}</dd>
                            </dt>
                        {{/each}}
                    </dl>
                </div>
                
       </div>
        </div>
    </div>
